.App {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Espacio inferior para separación */
}

.left-section, .center-section, .right-section {
  width: 30%; /* Cada sección ocupa el 30% del ancho del contenedor */
  text-align: center; /* Centra el contenido dentro de las columnas */
}

.center-section img {
  max-width: 100%; /* Ajusta el tamaño de la imagen */
  height: auto;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-image {
  width: 300px; /* Tamaño específico para la imagen */
  height: auto;
  margin: 20px 0;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

.independent-button {
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo adicional para asegurar que el botón no esté oculto */
.left-section button {
  margin-top: 10px;
  display: block;
}